.container {
  width: 100%;
  height: 100px;
  background-color: aliceblue;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.itemContent {
  flex: 3;
  background-color: blanchedalmond;
  height: 60dvh;
}

.listContent {
  flex: 1;
  background-color: cadetblue;
  height: 60dvh;
  position: relative;
}

.comboBox {
  position: relative;
  width: 150px;
  margin: 10px;
  top: 0;
  left: 0;
  background-color: darkolivegreen;
  /* Add any additional styling as needed */
}
